@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    // Fonts
    --roboto-font: 'Roboto', sans-serif;

    // Global Fonts
    --button-font: 500 16px/19px var(--roboto-font);

    // Header Fonts
    --header-logo-font: 700 20px/24px var(--roboto-font);
    --header-nav-font: 400 18px/21px var(--roboto-font);
    --header-input-font: 300 16px/18px var(--roboto-font);

    // Home Fonts
    --home-hero-title-font: 600 72px/86px var(--roboto-font);
    --home-hero-card-desc1-font: 400 30px/17px var(--roboto-font);
    --home-hero-card-desc2-font: 400 20px/160% var(--roboto-font);
}